{% extends 'main.html' %} {% load sass_tags %} {% load static %} {% block pageTitle %}Teaching{% endblock pageTitle %}

<link
  href="{% sass_src 'style/teaching_load_style/teaching_load.scss' %}"
  rel="stylesheet"
  type="text/css"
/>
{% block content%}
<h1>Teaching Workload</h1>
{% if staff_member.staff_position != 'HoD' %}

<a href="{% url 'add_teaching_load' %}" class="btn btn-primary">Add</a>
{% endif %} {% for teaching_load in teaching_workloads %}
<div class="load">
  <h2 class="load-title">
    {{teaching_load.course}}
  </h2>
  <div class="load-description">
    <p>
      Group - {{teaching_load.group.course_group_mode}}
      {{teaching_load.group.course_group_session}}
      {{teaching_load.group.course_group_number}}
    </p>
    <p>Novelty of Course - {{teaching_load.novelty_of_course}}</p>
    <p>Contact Time - {{teaching_load.contact_time_per_week}}</p>
    <a href="{% url 'edit_teaching_load' teaching_load.teaching_load_id %}" class="btn btn-primary">Edit</a>
  </div>
  
</div>

{% endfor %} 

{% endblock %}
