.header {
    height: 10rem;
    width: 100%;
  
    .primaryHeader {
      position: relative;
      height: 70%;
      width: 100%;
      margin: 0 auto;
  
      .logo {
        font-style: normal;
        font-weight: 400;
        width: 30%;
        position: absolute;
        top: 50%;
        left: 30px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
  
        img {
          display: block;
          width: 100%;
          margin: 0;
        }
      }
  
      .callToActions {
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
  
        ul,
        li {
          margin: 0 1rem;
          padding: 0;
          display: inline-block;
        }
  
        span {
          font-size: 1.8rem;
          line-height: 1;
          color: #f8f6f0;
          font-weight: 600;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
        }
  
        li {
          list-style-type: none;
  
          .userIcon {
            margin-right: 1.2rem;
          }
  
          a {
            font-size: 1.8rem;
            line-height: 1;
            color: #011627;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  
    .secondHeader {
      height: 30%;
      padding: 0.5rem;
      margin: 0 auto;
      float: right;
  
      .links {
        ul > li {
          display: inline-block;
          left: 42.29%;
          right: 1.81%;
          top: 73%;
          bottom: 3%;
          margin: 0 1rem;
          margin-left: 5rem;
          font-weight: 400;
          line-height: 24px;
          text-align: right;
          letter-spacing: 0.3em;
        }
  
        a {
          margin: 2rem;
          color: #011627;
        }
      }
    }
  }
  