header {
  position: relative;
  height: 5rem;
  width: 100%;
  top: 0;

  .logo {
    position: absolute;
    left: 30px;
    align-items: center;
    width: 4rem;
    a {
      img {
        width: 100%;
      }
    }
  }

  .account {
    position: absolute;
    top: 50%;
    right: 10px;
    a {
      text-decoration: none;
      color: white;

      &:hover {
        font-weight: bold;
      }
    }
  }

  .logoutBtn {
    font-size: 1vw;
    font-weight: bold;
    width: 6rem;
    height: 3rem;
  }
}
