header{
  height: 7rem;
  width: 100%;
  display: flex;
  top: 0;
  justify-content: space-around;


  .logo{
    display: flex;
    align-items: center;
      a{
      img{
        width: 6vw;
      }
    }
    
  }

  .account{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logoutBtn{
    font-size: 1vw;
    font-weight: bold;
    width: 6rem;
    height: 3rem;
  }
  
}
