{% load sass_tags %}
{% load static %}


<link href="{% sass_src 'style/header_style/header.scss' %}" rel="stylesheet" type="text/css" />

<header class="header">
  <div class="primaryHeader">
    <div class="logo">
      <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"/></a>
    </div>

    
    <div class="callToActions">
      <ul>
        <li>
          <a href="">Logout</a>
        </li>
        <li>
          <a href=">Welcome </a>
        </li>
      </ul>
    </div>
    <div class="callToActions">
      <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        <a><li>Sign Up</li></a>
      </ul>
    </div>
  </div>

  <div class="secondHeader">
    <div class="links">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Papers</a></li>
        <li><a href="">Speakers</a></li>
        <li><a href="">Reservations</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About Us</a></li>
      </ul>
    </div>
  </div>
</header>
