{% extends 'main.html' %}
{% load static %}
{% load sass_tags %}
{% block pageTitle %}Community{% endblock pageTitle %}


{% block content %}
<h1>Edit Community Load</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with Button Groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a href="{% url 'community_load' %}" class="btn btn-danger">Cancel</a>
        </div>
    </div>
        
</form>
{% endblock content %}
    